grant codeBase "file:bin${/}-" {
	//usar no VM args= "-Djava.security.manager -Djava.security.policy=client.policy"
	
	//permission java.net.SocketPermission "*:23456", "listen";
	//permission java.net.SocketPermission "*:1024-", "accept, resolve";
	permission java.security.AllPermission;
};