grant codeBase "file:bin${/}-" {
	//usar no VM args= "-Djava.security.manager -Djava.security.policy=server.policy"

	permission java.io.FilePermission "${user.home}/MsgFileResources", "read,write";
	permission java.io.FilePermission "${user.home}/MsgFileResources/server", "read,write";
	permission java.io.FilePermission "${user.home}/MsgFileResources/server/-", "read,write,delete";
	permission java.net.SocketPermission "127.0.0.1:23456", "listen,resolve";
	permission java.util.PropertyPermission "user.home", "read";
	permission java.net.SocketPermission "127.0.0.1:*", "accept,resolve"; //temos de ver em que portos o server trabalha

	//permission java.security.AllPermission;
};