grant codeBase "file:bin${/}-" {
	//usar no VM args= "-Djava.security.manager -Djava.security.policy=server.policy"

	permission java.io.FilePermission "${user.home}/MsgFileG51", "read,write";
	permission java.io.FilePermission "${user.home}/MsgFileG51/server", "read,write";
	permission java.io.FilePermission "${user.home}/MsgFileG51/server/-", "read,write,delete";
	
	permission java.net.SocketPermission "127.0.0.1:23456", "listen,resolve";
	//na linha x vai ser colocado o ip do servidor (maquina que executa o servidor)
	//1024 para cima, portas em que o server aceita conections
	permission java.net.SocketPermission "127.0.0.1:1024-", "accept,resolve";
  	
  	permission java.util.PropertyPermission "user.home", "read";
  	permission java.util.PropertyPermission "line.separator", "read";
  	
  	permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
  	permission java.util.PropertyPermission "javax.net.ssl.keyStoreType", "write";
  	permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write";
  	
  	//permission java.io.FilePermission "\keystore\myServer.keyStored", "read";
  	permission java.io.FilePermission "<<ALL FILES>>", "read";
  	

};