preprocessor frag3_global
preprocessor frag3_engine

alert tcp any any -> any 1:1023 (msg:"VARRIMENTO PORTOS"; sid:20190405;rev:0;)

event_filter \
    gen_id 1, sig_id 20190405, \
    type both, \
    track by_dst, \
    count 3, seconds 30
	
	
#--------------------------

alert tcp any any -> any 23456 (msg:"DESCOBRIR PASSWORD"; flags:S; sid:20191305;rev:0;)

event_filter \
    gen_id 1, sig_id 20191305, \
    type threshold, \
    track by_src, \
    count 5, seconds 15