preprocessor frag3_global
preprocessor frag3_engine

alert tcp any any -> any 1:1023 (msg:"server session"; sid:20180405;rev:0;)

event_filter \
    gen_id 1, sig_id 20180405, \
    type both, \
    track by_dst, \
    count 3, seconds 30
	
	
#--------------------------

alert tcp any any -> any 23456 (msg:"server session"; sid:20181305;rev:0;)

event_filter \
    gen_id 2, sig_id 20181305, \
    type threshold, \
    track by_src, \
    count 5, seconds 15
	
	
	
#duvidas
#fazer o alert tambem para udp icmp