// Grant everyone the following permission
grant{
	permission java.net.SocketPermission "*:1-", "connect, resolve";
	
	permission java.io.FilePermission "\\src\\communication\\<<ALL FILES>>", "read";
	permission java.io.FilePermission "\\src\\client\\<<ALL FILES>>", "read";
	permission java.io.FilePermission "\\MsgFileResources\\client\\users\\<<ALL FILES>>", "read, write, delete";
	
	//permission java.io.SerializablePermission "\\src\\communication\\Message.java" , "read, write";
	
	//Ainda nao sei bem o que fazem
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.util.PropertyPermission "user.dir", "write";
};